#password{
    width: 530px;
    text-align: center;
    flex-shrink: 0;
    border-radius: 0px;
    color: #617A55;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Itim;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 148.023%;
    background-color: #FFF;
    position: absolute;
    left: 80px;
    top: 299px;
    
}

body{
    background-image: blue ;
}

html[lang="en-US"] {font-family: Orbitron !important;}
html[lang="TH"] {font-family: Prompt !important;}



*{
    font-family: 'Orbitron','Prompt', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}
h1{
    font-size: 4vw;
}
h2{
    font-size: 3.7vw;
}
h3{
    font-size: 3vw;
}
h4{
    font-size: 2.5vw;
}
h5{
    font-size: 2vw;
}
h6{
    font-size: 1.5vw;
}
.crown{
    z-index: 621;
    font-size: 1.2vw;
    background-color: #203864;
    display: flex;
    align-content: center;
    vertical-align: center;
    padding: 1vw;
    padding-right: 5%;
    position: fixed;
    width:100%;
    filter: drop-shadow(4px 4px 8px rgb(118, 69, 14));
}
#crownLogo{

    display: flex;
    flex-direction: row;
    color: #EC7D30;
    font-weight: bolder;
    align-items: center;
    justify-content: space-around;
    width: auto;
    padding-left: 3%;
}

/*may's menu code*/
#MENU{
    position: relative;
    left: 40%;
    filter : drop-shadow(-5px 5px 15px #0a0a0a);
    
}
#MENU ul{
    background-color: #EC7D30;
    display:flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    border-radius: 10px;
}
#MENU ul li{
    padding: 0.7vw 2vw;
    list-style:none;
    border-radius: 10px;
    
}
#MENU ul li a{
    text-decoration:none;
    font-family:'Orbitron' , sans-serif;
    color: #151515;
    font-weight:bold;
    font-size:1vw;
    cursor:pointer ;
    transition:.5s;
    cursor:pointer;
}
#MENU ul li:hover{
    background-color:#151515;
    transition:.5s ease;
}
#MENU ul li:hover a{
    color:#ffffff;
    transition:.5s ease;
}
#MENU ul:hover{
    box-shadow:-5px 5px 1px #0a0a0a;
    transition:.5s ease;
}
/*end of menu code*/

#crownpages{
    color: #FFF;
    position: relative;
    left: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
#subpage{
    font-size: 100%;
    padding-left: 2%;
    padding-right: 2%;

}
.headBanner{
    font-size: 2vw;
    color: #FFF;

    padding-top: 10%;
    padding-bottom: 5%;

    padding-left: 17%;
    padding-right: 17%;

    /* The image used */
    background-image: url("../public/images/working-blur.jpg");
    background-position-y: 50%;
    background-position: fixed;
    background-size:cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.announcement{
    background-image: linear-gradient(270deg,#2b4b86,#EC7D30);
}


#center{
    display: flex;
    position: absolute;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left:20%;
}
#pointer {
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    vertical-align: middle;

    font-size: 3vw;
    color: #FFF;
    width: 50%;
    height: 6vmax;
    position: relative;
    background: #203864;
    filter: drop-shadow(2px 2px 4px rgb(60, 51, 40));

    z-index: 3;

}
#pointer:before {
    content: "";
    position: absolute;
    right:-2.97vmax;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 3vmax solid #203864;
    border-top: 3vmax solid transparent;
    border-bottom: 3vmax solid transparent;
}
#subpointer {
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    vertical-align: middle;

    font-size: 3vw;
    color: #FFF;
    width: 85%;
    height: 6vmax;
    position: relative;
    background: #EC7D30;
    filter: drop-shadow(2px 2px 4px rgb(60, 51, 40));
    z-index: 2;

}
#subpointer:before {
    content: "";
    position: absolute;
    right:-2.965vmax;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 3vmax solid #EC7D30;
    border-top: 3vmax solid transparent;
    border-bottom: 3vmax solid transparent;
}
.mySlides {
    display: flex;
    align-content: center;
    justify-content: center;
}
#slbgimg {
    display: flex;
    vertical-align: middle;
    position: relative;
    width: 100%;
    height: 30vw;
    filter: blur(5px);
} 
#slimg {
    display: flex;
    position: absolute;
    top: 0px;
    height: 30vw;
    left: 20%;
    width: 60%;
    z-index: 12;
} 
 /* Slideshow container */

.slideshow-container {
    max-width: 100vw;
    position: relative;
}

 /* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

 /* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

 /* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

 /* Caption text */

.text {
    color: #ff0000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

 /* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

 /* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #2b4b86;
}

 /* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

 /* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

.stuff{
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 1.5vw;
}
#seperate{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}
#thumb{
    width: 100%;
    border-radius: 10px;
    border:2px wheat;
    height: 10vw;
}
